{% extends "base_template.html" %}
{% block title %}Add new question{% endblock %}
{% block content %}
<p style="font-size:40px">Add new question</p>
<form action="" method="post">
{% for header in headers %}
    {% if header not in ['id','submission_time'] %}
    <label for="title">{{ header }}<br>
    <input type="text" name={{ header }}><br>
        </label><br>
    {% endif %}
   {% endfor %}
    <input type="submit" value="Post question!">
</form><br>
    <hr>
<a href="/">Back to Main Page</a>
{% endblock %}