{% extends "base_template.html" %}
{% block title %}Main Page Super Sprinter{% endblock %}

{% block content %}
       <form enctype="multipart/form-data" method="post">
            <label for="message">Answer
                <input type="text" name="message">
                </label>

           <label for="image"> Image
               <input type="file" name="file" accept="image/png, image/jpeg">>
           </label>
                <input type="submit" value="answer question">

       </form>
{% endblock %}
