{% extends "base_template.html" %}
{% block title %}Add new answer{% endblock %}

{% block content %}
    <p style="font-size:40px" class="form">Add new answer</p>
       <form class="form" enctype="multipart/form-data" method="post">
            <label for="message">Answer <br>
                <textarea id="title" name="message" rows="3" cols="60">Write your answer here</textarea>
                </label><br>
           <label for="image"> Image<br>
               <input type="file" name="file" accept="image/png, image/jpeg">
           </label><br><br><br>
                <input type="submit" value="Post your answer">
       </form>
        <br>
        <hr>
        <br>
        <a href="/list"><button>Back to questions</button></a>
{% endblock %}
