<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        button{
            margin: 10px;
        }
        tr
{
    line-height:1px;
}
    </style>
</head>
<body>
    <h2 style="text-align: center;">The Ask Mate application  </h2>
    <hr>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer"><p style="text-align: center;">  Copyright 2021 by Fl-Ask-Mate Team   </p></div>
</body>
</html>