{% extends "base_template.html" %}
{% block title %}Add new answer{% endblock %}
{% block content %}
    <div class="form">
    <p style="font-size:40px">Edit this answer!</p>
       <form enctype="multipart/form-data" method="post">
            <label for="message">Answer <br>
                <textarea id="title" name="message" rows="3" cols="60">{{user_answer["message"]}}</textarea>
                </label><br>
           <label for="image"> Image<br>
               <input type="file" name="file" accept="image/png, image/jpeg">
           </label><br><br><br>
       <input type="submit" value="Edit answer!">
       </form>
        <br>
        <hr>
        <br>
    </div>
        <a href="/list"><button>Back to questions</button></a>
{% endblock %}
