{% extends "base_template.html" %}
{% block title %}Add new question{% endblock %}
{% block content %}
<p style="font-size:40px" class="form">Edit this question</p>
<form action="" method="post">

        <label for="title" style="font-size: 17px; font-family: sans-serif">TITLE<br>
            <textarea id="title" name="title" rows="3" cols="60">{{user_question["title"]}}</textarea><br>
        </label><br>

        <label for="message" style="font-size: 17px; font-family: sans-serif">MESSAGE<br>
            <textarea id="message" name="message" rows="9" cols="60">{{user_question["message"]}}</textarea><br>
        </label><br>

    <input type="submit" value="Edit question!">
</form><br>
    <hr>
<a href="/list"><button>Back to Questions</button></a>
{% endblock %}