{% extends "base_template.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
<div class="main_page">
<div class="welcome">
{#    <h1 class="welcome">ASK MATE</h1>#}

{#    <h2>This is a crowdsourced Q&A site</h2><br>#}
    <a href="{{ url_for('route_list')}}"><button style="font-size:20px">SHOW ALL QUESTIONS</button></a><br><br>

</div>

        <h2 class="question" style="text-align: left">Latest 5 questions:</h2>

    <table>
            <tr class="question-header">
           {% for key in header %}
                <th>{{ key }}</th>
           {% endfor %}
           </tr>
       {% for row in latest_user_questions %}
           <tr>
           {% for key in header %}
               {%if key=="image" and not row['image']%}
               <td>
                   <p>No Image</p>
               </td>
               {%endif%}
               {% if key == "image" and row['image']%}
               <td><a href={{url_for('static',filename = row[key][9::])}}>
            <image src={{url_for('static',filename=row[key][9::])}} height="50">
            </a>
               </td>
               {%endif%}
               {% if key == "id" %}
               <td><a href="/question/{{row[key]}}?question_id={{row[key]}}"><strong>{{ row[key] }}</strong></a></td>
               {% elif key!="image" %}
               <td>{{ row[key] }}</td>
               {% endif %}

           {% endfor %}

           </tr>
    {% endfor %}
    </table>
    <br><br>

<div id="search_question">
    <form action="/search">
        <label for="search_phrase">Search in questions:</label>
        <input id="search_phrase" type="text" name="search_phrase">
        <button id="search_button" type="submit">Search</button>
     </form><br><br>
</div>
</div>
    <a href="/user">Users</a>


{% endblock %}