{% extends "base_template.html" %}
{% block title %}List of Stories{% endblock %}

{% block content %}
        <h2>List of all Questions:</h2><br>

    <table>
            <tr>
           {% for key in header %}
               <th style="color:Teal; height:50px;">{{ key|upper }}</th>
           {% endfor %}
           </tr>
       {% for row in user_questions %}
           <tr>
           {% for key in header %}
               {%if key=="image" and not row['image']%}
               <td>
                   <p>No Image</p>
               </td>
               {%endif%}
               {% if key == "image" and row['image']%}
               <td><a href={{url_for('static',filename = row[key][9::])}}>
            <image src={{url_for('static',filename=row[key][9::])}} height="50">
            </a>
               </td>
               {%endif%}
               {% if key == "id" %}
               <td><a href="/question/{{row[key]}}?question_id={{row[key]}}">{{ row[key] }}</a></td>
               {% elif key!="image" %}
               <td>{{ row[key] }}</td>
               {% endif %}

           {% endfor %}
               <td><a href="/question/{{ row["id"] }}/vote_up"><button>Vote up!</button></a></td>
               <td><a href="/question/{{ row["id"] }}/vote_down"><button>Vote down!</button></a></td>
           </tr>
    {% endfor %}
    </table>
    <br>

    <br>

     <form action="/list" method="get">
        <label for="order_by">Order by:</label>
        <select id="order_by" name="order_by" value={{ header.0 }}>
          {% for element in header[1:-1] %}
            <option value={{ element }}>{{ element|capitalize }}</option>
          {% endfor %}
        </select>


        <input type="radio" id="order_direction" name="order_direction" value="asc">
        <label for="order_direction">Ascending</label>
        <input type="radio" id="order_direction" name="order_direction" value="desc">
        <label for="order_direction">Descending</label>
        <br><br>
        <button type="submit">Apply</button>
        <br>
     </form>


        <hr>
    <a href="{{ url_for('add_question')}}"><button style="font-size:17px">Add new question</button></a><br>
{% endblock %}