{% extends "base_template.html" %}
{% block title %}List of Stories{% endblock %}

{% block content %}
        <h1>List of all Questions:</h1><br>

    <table>
            <tr>
           {% for key in header %}
               <th>{{ key|capitalize }}</th>
           {% endfor %}
           </tr>
       {% for row in user_questions %}
           <tr>
           {% for key in header %}
               {% if key == "id" %}
               <td><a href="/question/{{row[key]}}">{{ row[key] }}</a></td>
               {% else %}
               <td>{{ row[key] }}</td>
               {% endif %}

           {% endfor %}
           </tr>
    {% endfor %}
    </table>
    <br>
    <hr>
    <br>

     <form action="/list" method="get">
        <label for="order_by">Order by:</label>
        <select id="order_by" name="order_by" value={{ header.0 }}>
          {% for element in header[1:-1] %}
            <option value={{ element }}>"{{ element }}"</option>
          {% endfor %}
        </select><br>

        <br>
        <input type="radio" id="order_direction" name="order_direction" value="asc">
        <label for="order_direction">Ascending</label><br>
        <input type="radio" id="order_direction" name="order_direction" value="desc">
        <label for="order_direction">Descending</label><br>
        <br>

        <button type="submit">Apply</button>
        <br>
     </form>


        <hr>
     <a href="/">Back to Main Page</a>
{% endblock %}