{% extends "base_template.html" %}
{% block title %}List of Stories{% endblock %}

{% block content %}
        <h2>List of all Questions:</h2><br>

    <table>
            <tr>
           {% for key in header %}
                <th><a href={{ url_for('route_list_order', order_by=key) }} >{{ key }}</a></th>

           {% endfor %}

           </tr>
       {% for row in user_questions %}
           <tr>
           {% for key in header %}
               {%if key=="image" and not row['image']%}
               <td>
                   <p>No Image</p>
               </td>
               {%endif%}
               {% if key == "image" and row['image']%}
               <td><a href={{url_for('static',filename = row[key][9::])}}>
            <image src={{url_for('static',filename=row[key][9::])}} height="50">
            </a>
               </td>
               {%endif%}
               {% if key == "id" %}
               <td><a href="/question/{{row[key]}}?question_id={{row[key]}}"><strong>{{ row[key] }}</strong></a></td>
               {% elif key!="image" %}
               <td>{{ row[key] }}</td>
               {% endif %}

           {% endfor %}
               <td><a href="/question/{{ row["id"] }}/vote/up"><button>Vote up!</button></a></td>
               <td><a href="/question/{{ row["id"] }}/vote/down"><button>Vote down!</button></a></td>
           </tr>
    {% endfor %}
    </table>
    <br><br>

    <a href="{{ url_for('add_question')}}"><button style="font-size:17px">Add new question</button></a><br>
{% endblock %}