{% extends "base_template.html" %}
{% block title %}Main Page Super Sprinter{% endblock %}

{% block content %}
        <h2 style=" text-align: center">Question: {{one_question["title"]}}</h2>
        <p>{{ one_question["message"] }}</p><br>
    <hr>
    <h2>Answers:</h2>

    {% for item in answers %}
    {% if item["question_id"] == question_id %}
        <p>Answer:<br>{{ item["message"] }}<br>
        Image:<br>{{ item["image"] }}<br>
            <a href="/answer/{{ item["id"] }}/delete"><button>Delete this answer </button></a></p><br>
    {% endif %}
    {% endfor %}
        <a href={{url_for("new_answer",question_id=question_id)}}><button>Answer question</button></a><br>
        <a href={{url_for("edit_question",question_id=question_id)}}><button>Edit question</button></a><br>
        <a href="/question/{{ question_id }}/delete"><button>Delete this question</button></a><br>
        <br>
        <a href="/list"><button>Back to questions</button></a>
        <hr>
{% endblock %}
