{% extends "base_template.html" %}
{% block title %}Main Page Super Sprinter{% endblock %}

{% block content %}
    <div class="question">
<h2 style=" text-align: center">Question: {{one_question.title}} <br></h2>
        <h3>{% if tags %}
        Tags:
        {% endif %}
    {% for tag in tags %}
        {{ tag.name}}<a href="/question/{{ question_id}}/tag/{{ tag.id }}/delete"><button onclick="/question/{{ question_id}}/tag/{{ tag.id }}/delete" class="delete">X</button></a>
    {% endfor %}</h3>
        <p>{{ one_question.message }}</p><br>
    </div>


    <br>
    <br>
    <hr>
<table class="question-table">
            <tr class="question-header">
               <th style="color:Teal; height:50px;">Answer</th>
                <th style="color:Teal; height:50px;">Image</th>
                <th style="color:Teal; height:50px;">Vote Number</th>
                <th style="color:Teal; height:50px;"></th>
                <th style="color:Teal; height:50px;"></th>
                <th style="color:Teal; height:50px;"></th>
                <th style="color:Teal; height:50px;"></th>
                <th style="color:Teal; height:50px;"></th>
                {% if one_question.user_id==user_id %}<th style="color:Teal; height:50px;"></th>{% endif %}
            </tr>
       {% for item in answers %}
            {% if item["question_id"] == question_id %}
           <tr class="question-row">
                <td>{{ item["message"] }} </td>
               <td>{%if item['image']%}
            <a href={{url_for('static',filename = item['image'][9::])}}>
                <image src={{url_for('static',filename = item['image'][9::])}} height="80" width="80"></image>
            </a>
            {%endif%}</td>
               <td>{{ item["vote_number"] }}</td>
               <td><a href="/answer/{{ item["id"] }}/vote/up"><button>Vote up!</button></a></td>
               <td><a href="/answer/{{ item["id"] }}/vote/down"><button>Vote down!</button></a></td>
               <td><a href="/answer/{{ item["id"]}}/delete"><button>Delete this answer </button></a></td>
               <td><a href="/question/{{ question_id }}/{{ item["id"] }}/new-comment-to-answer"><button>Add comment</button></a></td>
               <td><a href="/question/{{ question_id }}/{{ item["id"] }}/edit-answer"><button>Edit answer</button></a></td>

                   {% if one_question.user_id==user_id and item.accepted == false%}
                       <td>
                       <a href="/answer/{{ item["id"]}}/accept"><button>Mark as accepted </button></a>
                       </td>
                   {% endif %}
                       {% if item.accepted==true %}
                           <td id="accepted">
                           Accepted Answer
                           <a href="/answer/{{ item["id"]}}/unaccept"><button onclick="/answer/{{ item["id"]}}/unaccept" id="unaccept">Unaccept</button></a>
                           </td>
                   {% endif %}

           </tr>
        {% endif %}
     {% endfor %}
    </table>
    <hr>


<table>
    <tr class="comment-header">
        <th>comments:</th>
        <th>delete</th>
        <th>edit</th>
        <th>edit count</th>
    </tr>
        {% for comment in get_comments %}
    <tr class="comment-rows">
        <td>{{ comment.message }}</td>
        <td><button type="submit" style="border: 0; background: transparent" >
            <a href="/question/{{ comment.question_id }}/{{ comment.id }}/delete"><img id="trash" src="/static/trash.jpg" alt="submit" onclick="return confirm('Are you sure you want to delete this item')"></a>
            </button></td>
        <td><a href='/question/{{ comment.question_id }}/{{ comment.id }}/edit'><button>Edit comment</button></a></td>
        <td>Edited {{ comment.edited_count }} times.</td>
    </tr>
            {% endfor %}
    </table>
<hr>
        <a href={{url_for("new_answer",question_id=question_id)}}><button>Add new answer</button></a>
        <a href={{url_for("edit_question",question_id=question_id)}}><button>Edit question</button></a>
        <a href="/question/{{ question_id }}/delete"><button>Delete question</button></a>
        <a href={{url_for("add_new_tag",question_id=question_id)}}><button>Add tag(s)</button></a>
        <a href="/question/{{ question_id }}/new-comment"><button>Comment</button></a>
        <a style="margin-top: 20px" href="/list"><button>Back to questions</button></a>
    <br>
    <br>
{% endblock %}


