{% extends "base_template.html" %}
{% block title %}Add new question{% endblock %}
{% block content %}

<table class="user-table">
            <tr>
                <th style="color:Teal; height:50px;">Username</th>
                <th style="color:Teal; height:50px;">Registration date</th>
                <th style="color:Teal; height:50px;">Number of asked questions</th>
                <th style="color:Teal; height:50px;">Number of answers</th>
                <th style="color:Teal; height:50px;">Number of comments</th>
                <th style="color:Teal; height:50px;">Reputation</th>
            </tr>
        {% for row in informations %}
            <tr>
                <td><a href="/{{ user_id }}/">{{ row['username'] }}</a></td>
                <td>{{ row['registration_date'] }}</td>
                <td>{{ row['number_of_answers'] }}</td>
                <td>{{ row['number_of_asked_questions'] }}</td>
                <td>{{ row['number_of_comments'] }}</td>
                <td>{{ row['reputation'] }}</td>
            </tr>
     {% endfor %}

<a href="/list"><button>Back to Questions</button></a>


{% endblock %}