    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
<h1 style="text-align: center" class="home-title">
  <span>Welcome to</span>
  <span> Askmate</span><br><br>
    <span><a href="/login" class="login_buttons" ><button>Login</button></a></span>
    <span><a href="/registration" class="login_buttons" ><button>Registration</button></a></span>
    <span><a href="/index" style="font-size:15px; color:white;" class="login_buttons"><button> Log in as Guest </button></a></span>

</h1>

